@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Bulles de chat */
    .message-outgoing {
        @apply flex justify-end;
    }
    .message-incoming {
        @apply flex justify-start;
    }

    /* Scrollbar fine */
    .scrollbar-thin::-webkit-scrollbar {
        width: 4px;
    }
    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
        @apply bg-gray-300 rounded-full;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400;
    }
}
